<% if (site.posts.length) { %>
    <div class="widget-wrap">
        <h3 class="widget-title"><span><%= __('widget.archives') %></span></h3>
        <div class="widget">
            <%- list_archives() %>
        </div>
    </div>
<% } %>